/* Animaciones*/
/*desaparecer */
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: disappear 2s ease;
}

/*aparecer*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 1;
  animation: appear 2s ease;
}
/*crecer*/
@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.grow-in {
  opacity: 1;
  animation: grow 2s ease;
}
/*subir*/
@keyframes rise {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(-70%);
    opacity: 1;
  }
}

.rise-in {
  opacity: 1;
  transform: translateY(-70%);
  animation: rise 2s ease;
}

/*aparecer por el costado*/
@keyframes slide-in-left {
  from {
    transform: translatex(-70%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-left {
  opacity: 1;
  animation: slide-in-left 2s ease;
}

@keyframes slide-in-right {
  from {
    transform: translatex(70%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-right {
  opacity: 1;
  animation: slide-in-right 2s ease;
}
/*brillar */
@keyframes glow {
  from {
    text-shadow: 0 0 20px var(--body-background);
  }
  to {
    text-shadow: 0 0 50px var(--header-font-colour), 0 0 10px var(--header-font-colour);
  }
}

.glowing {
  opacity: 1;
  animation: glow 2s ease-in-out infinite alternate;
}